USE [master]
GO
/****** Object:  Database [FPT_DaoTao]    Script Date: 12/08/2022 8:50:21 AM ******/
CREATE DATABASE [FPT_DaoTao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPT_DaoTao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPT_DaoTao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPT_DaoTao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FPT_DaoTao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPT_DaoTao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPT_DaoTao]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 12/08/2022 8:50:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[ID] [int] NOT NULL,
	[MaSV] [nvarchar](50) NOT NULL,
	[TiengAnh] [int] NOT NULL,
	[TinHoc] [int] NOT NULL,
	[GDTC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 12/08/2022 8:50:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[MaSV] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SoDT] [nvarchar](12) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Hinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/08/2022 8:50:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (1, N'PC001', 8, 6, 9)
INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (2, N'PC002', 6, 9, 9)
INSERT [dbo].[GRADE] ([ID], [MaSV], [TiengAnh], [TinHoc], [GDTC]) VALUES (3, N'PC003', 8, 7, 8)
GO
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'PC001', N'NGO QUOC TUNG', N'TUNG@FPT.EDU.VN', N'0987465376', 1, N'HA NOI', N'A')
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'PC002', N'NGUYEN DINH NAM', N'NAM@FPT.EDU.VN', N'0986859485', 1, N'HCM', N'B')
INSERT [dbo].[STUDENTS] ([MaSV], [HoTen], [Email], [SoDT], [GioiTinh], [DiaChi], [Hinh]) VALUES (N'PC003', N'LE THI THAM', N'THAM@FPT.EDU.VN', N'0985736347', 0, N'CAN THO', N'C')
GO
INSERT [dbo].[USERS] ([username], [password], [role]) VALUES (N'DINHNAM', N'54321', N'SINH VIEN')
INSERT [dbo].[USERS] ([username], [password], [role]) VALUES (N'HUYVU', N'33333', N'GIANG VIEN')
INSERT [dbo].[USERS] ([username], [password], [role]) VALUES (N'MINHHAI', N'11111', N'GIANG VIEN')
GO
USE [master]
GO
